
<h1 style="text-align: center;">Dados das notificações PUSH</h1>

<div class='container'>
    <mat-grid-list cols="3" rowHeight="11rem">
        <mat-grid-tile>
            <div class='push-container'>
                <p class='push-paragraph'>1818</p>
                <span>Usuários que fizeram o primeiro login e não começaram nenhum curso</span>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class='push-container'>
                <p class='push-paragraph'>598</p>
                <span>Usuários que aceitaram e receberam notificações</span>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class='push-container'>
                <p class='push-paragraph'>548</p>
                <span>Usuários que receberam uma notificação e inicaram algum curso</span>
            </div>
        </mat-grid-tile>

    </mat-grid-list>
    <mat-grid-list cols="2">
        <mat-grid-tile>
            <canvas baseChart class="chart"
                [data]="barChartData1"
                [options]="barChartOptions1"
                [plugins]="barChartPlugins"
                [type]="barChartType"
            >
            </canvas>
        </mat-grid-tile>
        <mat-grid-tile>
            <canvas baseChart class="chart"
                [data]="barChartData2"
                [options]="barChartOptions2"
                [plugins]="barChartPlugins"
                [type]="barChartType"
            >
            </canvas>
        </mat-grid-tile>
    </mat-grid-list>
</div>