.container {
    max-height: 700px;
    padding: 15px;
}

.push-paragraph {
    color: green;
    font-size: 48px;
    margin-bottom: 2rem;
    display: block;
}

.push-container {
    text-align: center;
}