
<h1 style="text-align: center;">Dados da métrica NPS</h1>

<mat-grid-list cols="3" rowHeight="15rem">
    <mat-grid-tile>
        <div class='rounded-background' style="background: rgba(231, 76, 60, 1)">
            <span>{{npsData.detractorsUsers}} <br> <p>Detratores</p></span>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class='rounded-background' style="background: rgba(255, 164, 46, 1)">
            <span>{{npsData.neutralUsers}}  <br> <p>Neutros</p></span>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class='rounded-background' style="background: rgba(46, 204, 113, 1)">
            <span>{{npsData.promotersUsers}}  <br> <p>Promotores</p></span>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<div class='container' *ngIf="npsData && doughnutChartBaseOptions">
    <canvas baseChart class="chart" id="chartjs"
    [data]="doughnutChartBaseData"
    [options]="doughnutChartBaseOptions"
    [type]="'doughnut'"
    >
    </canvas>
    <span class='percentage'>{{formattedAvarage}}% <br> <p style='margin-top: 2rem;'>{{avarageMessage}}</p></span>
</div>